[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "plugins/tmux-copycat"]
	path = plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "plugins/tmux-open"]
	path = plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "plugins/tmux-yank"]
	path = plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "plugins/tmux-sidebar"]
	path = plugins/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar.git
[submodule "plugins/tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "plugins/tmux-jump"]
	path = plugins/tmux-jump
	url = https://github.com/schasse/tmux-jump
